<ion-header>
        <ion-toolbar>
            <ion-title>쪽지보내기</ion-title> 
            <ion-buttons end>
                <button ion-button (click)="dismiss()">
                    <span ion-text><ion-icon name="close"></ion-icon></span>
                </button>
            </ion-buttons>
        </ion-toolbar>
</ion-header>    

<ion-content class="page-messageAdd">
    <ion-list>
        <ion-item>
            수신인 :
            <span *ngIf="selectedUsername.length > 6 ; else elseBlock">
                {{ selectedUsername[0].__zone_symbol__value }}외 {{ selectedUsername.length }}명
            </span>
            <ng-template #elseBlock>
                <span *ngFor="let username of selectedUsername">
                    {{ username.__zone_symbol__value }},
                </span>
            </ng-template>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="message.title" placeholder="제목을 입력해주세요."></ion-input>
        </ion-item>
        <ion-item>
            <ion-textarea [(ngModel)]="message.content" placeholder="내용을 입력해주세요." class="write_textarea"></ion-textarea>
        </ion-item>
        <button ion-button block (click)="createMessage()" (click)="dismiss()">전송</button>
    </ion-list>
</ion-content>