<ion-header>
        <ion-toolbar>
            <ion-title>쪽지함</ion-title> 
            <ion-buttons end>
                <button ion-button (click)="dismiss()">
                    <span ion-text><ion-icon name="close"></ion-icon></span>
                </button>
            </ion-buttons>
        </ion-toolbar>
</ion-header>    

<ion-content class="page-message">
    <div class="empty" *ngIf="messages.length == 0">
        <h2>
            쪽지가 없습니다 :)
        </h2>
    </div>
    <div class="container">
        <table class="noticeTable-in" *ngFor="let message of messages">
            <tr>
                <td>
                    <ion-icon name="md-mail"></ion-icon>
                    &nbsp;&nbsp;

                    {{ message.message_title }}

                    <ion-icon
                        name="md-trash"
                        class="remove"
                        (click)="handleRemove(message.id)"
                    ></ion-icon>
                </td>
            </tr>
            <tr>
                <td>
                    {{ message.timestamp | date:'yyyy-MM-dd HH:mm' }} | {{message.user_name}}
                </td>
            </tr>
            <tr>
                <td>
                    {{ message.message_content}}
                </td>
            </tr>
        </table>
    </div>
        
</ion-content>
