<ion-header>
        <ion-toolbar>
            <ion-title>쪽지함</ion-title> 
            <ion-buttons end>
                <button ion-button (click)="dismiss()">
                    <span ion-text><ion-icon name="close"></ion-icon></span>
                </button>
            </ion-buttons>
        </ion-toolbar>
</ion-header>    

<ion-content class="page-message">
        <table class="noticeTable-in" *ngFor="let message of messages">
            <tr>
                <td>
                    <ion-icon 
                        *ngIf="message.read_check === 0"
                        name="md-mail"
                        (click)="handleRead(message.id)"
                    >
                    </ion-icon>
                    <ion-icon
                        *ngIf="message.read_check === 1"
                        name="md-mail-open"
                    ></ion-icon>
                    &nbsp;&nbsp;

                    {{ message.message_title }}

                    <ion-icon
                        name="md-trash" 
                        class="remove"
                        (click)="handleRemove(message.id)"
                    ></ion-icon>
                </td>
            </tr>
            <tr>
                <td>
                    {{ message.timestamp | date:'yyyy-MM-dd HH:mm' }}
                </td>
            </tr>
        </table>
        
</ion-content>
