ion-icon.icon.icon-md.ion-md-mail {
    vertical-align: middle;
}

.page-message {
    //공지사항
    table.noticeTable {
        width: 100%;
        background: white;
    }

    table.noticeTable tr  {
            border-bottom: 0.55px solid lightgray;
        
    }
    
    table.noticeTable tr td {
        text-align: left;
        padding-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        color: #38484f;
        padding-top: 15px;
        padding-left: 15px;
    }

    .noticeTable tr td:last-child {
        width: 15%;
        padding-left:0px;
        text-align: center;
    }

    .noticeTable-in td {
        text-align: left;
        padding:5px;
        font-size: 13px;
    }

    .noticeTable-in {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        border-bottom: 0.55px solid #F0F0F0;
    }

    .noticeTable-in tr:nth-child(2) td{
        color: #A9A9A9;
        font-size: 12px;
        padding-bottom: 15px;
    }

    .label-ios {
        margin: 0px;
    }

    ion-label.label.label-md {
        margin: 0px;
        margin-top: 5px;
    }

    .remove {
        float: right;
        font-size: 1.5em;
        margin-right: 10px;
    }

    .empty {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }
}