<ion-header class="header-sm">
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <div class="home_logo_wrapper" (click)="openHomePage()">
    <img src="assets/img/Logo2.png" class="home-logo"/>
  </div>
  <ion-buttons end> <!-- 네비게이션 바에 가장 오른쪽에 만들겠다는 뜻 -->
    <button ion-button icon-only (click)="OpenSmEditPage(1)" *ngIf="USERAUTH == 3">
        <ion-icon name='md-create'></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="page-sm">
    <ion-list>
        <div *ngFor="let a of articles">
            <ion-list-header>
                    {{a.article_title}}
                    <ion-icon item-end name="ios-remove-circle-outline" (click)="showEditDelete(a)" *ngIf= "USERAUTH == 3"></ion-icon>           
            </ion-list-header>
            <div padding id="commentDiv">
                    {{a.article_content}}
            </div>   
        </div>
    </ion-list>
</ion-content>