<ion-header class="header-sm">
<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <div class="home_logo_wrapper" (click)="openHomePage()">
    <img src="assets/img/Logo2.png" class="home-logo"/>
  </div>
  <ion-buttons end> <!-- 네비게이션 바에 가장 오른쪽에 만들겠다는 뜻 -->
    <button ion-button icon-only (click)="OpenSmEditPage(1)" *ngIf="USERAUTH == 3">
        <ion-icon name='md-create'></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="page-sm">
    <ion-list>
        <div  *ngFor="let a of articles">
            <ion-list-header>
                    {{a.article_title}}
                    <ion-icon item-end name="md-trash" (click)="showEditDelete(a)" *ngIf= "USERAUTH == 3"></ion-icon>           
            </ion-list-header>
            <div padding id="commentDiv">
                    {{a.article_content}}
            </div>   
        </div>

        <!--
        <ion-list-header>
                장학금 지급 기준                
        </ion-list-header>
        <div padding>
            <ul>
                <li>1차 보고서 이후 1차장학금(10만원)을 지급한다.</li>
                <li>2차 보고서 이후 활동한 내역, 인증샷 등을 참고하여 2차 장학금(15만원)을 지급한다.</li>
                <li>활동 내역 중 인증샷이 없을 경우 무효 처리한다.</li>
                <li>이 때, 인증샷은 조원, 조장 모두 포함되어 있어야 하며 불가피한 사유가 있을 경우 인증샷에  없더라도 인증샷으로 인정한다.</li>
            </ul>
        </div>
        
        <ion-list-header>
                추가장학금 지급 기준                
        </ion-list-header>
        <div padding>
            <ul>
                <li>멘토가 팀별 주제를 계획한 것을 계획서에 적어 증명자료와 함께 제출한다.</li>
                <li>학생회에서 멘토 계획서를 검토 후 멘토로 선정한다.</li>
                <li>1학년 과정지도 수업에서 학생회가 참여하여 팀별 주제 발제 후 1학년이 원하는 팀으로 참여한다. (1학년 필수 참여)</li>
                <li>2학년의 경우 카톡으로 공지 후 개인적으로 연락한다. (2학년 선택 참여)</li>
                <li>인원 분배의 경우 가위바위보를 통하여 선정한다.</li>
            </ul>
        </div> 

        <ion-list-header>
                멘토 기준                
        </ion-list-header>
        <div padding>
            <ul>
                <li>C언어, 이산수학, java, 데이터베이스개론의 경우 해당 과목 성적이 B+ 이상이어야 한다.</li>
                <li>그 외의 주제의 경우 본인이 전문 지식을 가르칠 수준이라는 것을 증빙할 수 있는 자료(활동 자료 등)가 필요하다.</li>
            </ul>
        </div> 

        <ion-list-header>
                팀별 스터디                
        </ion-list-header>
        <div padding>
            <ul>
                <li>1학년 : 이산수학, C프로그래밍, 문서작성(PPT 등), 보안, html</li>
                <li>2학년 : java, 데이터베이스개론, html, 보안</li>
                <li>지정된 주제 외에도 선택할 수 있지만 스터디라는 명목에서 벗어난다고 판단될 경우 멘토에서 제외한다.</li>
                <li>1차 보고서 제출 시 팀 별 과제 중간 보고서 함께 제출한다.</li>
                <li>2차 보고서 제출 시 팀 별 과제 최종 보고서 함께 제출한다.</li>
                <li>중간 보고서 미 제출 시 활동비, 장학금을 지급하지 않는다.</li>
            </ul>
        </div> 

        <ion-list-header>
                멘티 선택 항목 (2가지 중 1가지는 반드시 해야 함)                
        </ion-list-header>
        <div padding>
            <ul>
                <li>컨퍼런스를 1학기 1회 이상 참여한다.</li>
                <li>학생회 사업을 2회 이상 참여한다. (개강파티, 해오름제, 과 MT, 대동제, 종강파티)</li>
            </ul>
        </div> 

        <ion-list-header>
                사업 일정                
        </ion-list-header>
        <div padding>
            <ul>
                <li>3월 2일 : 1차 면담</li>
                <li>3월 3일 ~ 3월 5일 : 2학년 멘티 신청받기</li>
                <li>월 7일 ~ 3월 8일 : 2차, 3차 면담</li>
                <li>3월  9일 ~ 3월 12일 : 멘토 신청받기</li>
                <li>3월 13일 : 4차 면담 및 심사</li>
                <li>3월 14일 : 팀 선별 (1학년 과정지도1, 2학년 카톡으로 공지)</li>
                <li>3월 15일 ~ 4월 19일 : 1차 활동기간 (총 6주간, 최소 12시간)</li>
                <li>4월 15일 ~ 4월 19일 : 1차 보고서 및 중간 보고서 제출</li>
                <li>4월 20일 : 1차 장학금 지급</li>
                <li>4월 24일 ~ 5월 29일 : 2차 활동기간 (총 6주간, 최소 12시간)</li>
                <li>5월 25일 ~ 5월 29일 : 2차 보고서 및 최종 보고서 제출</li>
                <li>종강이후 : 2차 장학금 지급</li>
                <li>학교 일정상 성적 확인 후 추가 장학금 지급</li>
            </ul>
        </div> 
    -->

    </ion-list>
</ion-content>