.page-sm {
    font-size: 13px;

    ul {
        margin-left: 0px;
        padding-left: 20px;
        padding-top: 0px;
        margin-top: 0px;
        font-size: 13px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    li {
        font-size: 13px;
    }

    div {
        font-size: 13px;
    }

    ion-list-header.item.item-ios.list-header.list-header-ios,
    ion-list-header.item.item-md.list-header.list-header-md {
        border-bottom: none;
        background: #F4F4F4;
    }

    ion-label.label.label-ios,
    ion-label.label.label-md {
        margin-left: 16px;
        font-weight: bold;
    }

    .list-header-md {
        padding-left: 16px;
        margin-bottom: 0px;
        min-height: 4.5rem;
        border-top: 1px solid #dedede;
        font-size: 1.4rem;
        color: #757575;
    }

    #commentDiv {
        white-space: pre-line;
        padding-top: 0px;
    }

    ion-icon.icon.icon-md.ion-md-trash.item-icon,
    ion-icon.icon.icon-ios.ion-md-trash.item-icon {
        color: indianred;
    }

    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
        margin-left: 0;
        margin-top: 11px;
        margin-bottom: 10px;
        padding-right: 10px;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }
}


ion-list-header.item.item-ios.list-header.list-header-ios,
ion-list-header.item.item-md.list-header.list-header-md {
    padding-left: 0px;
}

.platform-mobile textarea.text-input {
    resize: none;
    height: 100vh;
}