<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="home_logo_wrapper" (click)="openHomePage()">
      <img src="assets/img/Logo2.png" class="home-logo"/>
    </div>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="toggleEdit === false" class="page-reading">
    <table class="reading-top">
      <tr>
        <td>
            {{article.article_title}}
        </td>
      </tr>
      <tr>
        <td>
            {{article.user_name}}&nbsp;&nbsp;|&nbsp;&nbsp;{{article.timestamp | date:'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;|&nbsp;&nbsp;조회수 {{article.article_hit}}
        </td>
      </tr>
    </table>
    <hr/>
    <div id="contentDiv">{{article.article_content}}
    </div>


    <!--댓글-->
    <section class="commentTableWrapper" *ngIf="article.board_id == 3">
        <ion-list (press)="presentCommentSheet()"> 
            <table class="commentListTable">
                <tr>
                    <td>
                      홍길동
                    </td>
                    <td>
                        <span>2017-08-30 14:30</span>
                    </td>
                </tr>         
                <tr>	
                    <td colspan="2"><div id="commentDiv">기본 기능 소개는 물론 프로그래밍할 때 필요한 사고방식에도 중점을 두고 설명하고 있으며, 설명하는 기능들이 어디서 어떻게 사용되는지도 쉽게 알 수 있도록 실제 사용 환경과 유사한 예제를 다루고 있다.</div></td>		
                </tr>
            </table>
        </ion-list>
        <ion-list (press)="presentCommentSheet()"> 
            <table class="commentListTable">
                <tr>
                    <td>
                      홍길동
                    </td>
                    <td>
                        <span>2017-08-30 14:30</span>
                    </td>
                </tr>         
                <tr>	
                    <td colspan="2"><div id="commentDiv">따라서 책을 처음 만났을 때 품었던 학습 의지를 끝까지 유지할 수 있을 것이다.</div></td>		
                </tr>
            </table>
        </ion-list>
        <ion-list (press)="presentCommentSheet()"> 
            <table class="commentListTable">
                <tr>
                    <td>
                      홍길동
                    </td>
                    <td>
                        <span>2017-08-30 14:30</span>
                    </td>
                </tr>         
                <tr>	
                    <td colspan="2"><div id="commentDiv">안녕하세요. 댓글 예시입니다.</div></td>		
                </tr>
            </table>
        </ion-list>
        
    </section>

    <section class="commentWriteWrapper commentTableWrapper" *ngIf="article.board_id == 3">
      <table class="comment_textarea_table">
        <tr>
          <td>
              <ion-item no-lines>
                  <ion-textarea class="comment_textarea" placeholder="댓글을 입력하세요."></ion-textarea>
              </ion-item>
          </td>
          <td>
              <button ion-button outline><ion-icon name="ios-send"></ion-icon></button>
          </td>
        </tr>
      </table>

  </section>

    <!--공지사항 게시판일때-->
    <div class="buttonWrapper" *ngIf="article.board_id == 2">
        <button ion-button block 
            class="editButton" 
            (click)="handleToggleEdit()" 
            *ngIf= "USERAUTH == 3">수정</button>
        <button ion-button block 
            class="deleteButton" 
            (click)="showDeleteAlert(article)" 
            *ngIf= "USERAUTH == 3">삭제</button>
    </div>
        
    <!--Q&A 게시판일때-->
    <div class="buttonWrapper" *ngIf="article.board_id == 3">
        <button ion-button block 
            class="editButton" 
            (click)="handleToggleEdit()" 
            *ngIf= "article.article_writer == USERID">수정</button>
        <button ion-button block 
            class="deleteButton" 
            (click)="showDeleteAlert(article)" 
            *ngIf= "article.article_writer == USERID || USERAUTH == 3">삭제</button>
        <button ion-button block 
            class="editButton" 
            (click)="showAnswerAlert(article)" 
            *ngIf= "USERAUTH == 3 && article.answer_complete == 0">답변완료</button>
    </div>
        
    <br/>
    <br/>
</ion-content>

<ion-content *ngIf="toggleEdit === true" style="margin-top: 59px;" class="page-reading">
        <table class="reading-top">
          <tr>
            <td>
                {{article.article_title}}
            </td>
          </tr>
          <tr>
            <td>
                {{article.user_name}}&nbsp;&nbsp;|&nbsp;&nbsp;{{article.timestamp}}&nbsp;&nbsp;|&nbsp;&nbsp;조회수 {{article.article_hit}}
            </td>
          </tr>
        </table>
        <hr/>
        <div id="contentDiv">
            <ion-textarea [(ngModel)]="article.article_content"></ion-textarea>
        </div>
    
      <div class="buttonWrapper"> 
        <button ion-button block class="editButton" (click)="editArticle()" *ngIf= "article.article_writer == USERID || USERAUTH == 3"> 수정 완료 </button>
        </div>
    
        <br/>
        <br/>
    </ion-content>
