<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="home_logo_wrapper" (click)="openHomePage()">
      <img src="assets/img/Logo2.png" class="home-logo"/>
    </div>
    <ion-buttons end>
        <button ion-button (click)="editArticle()" *ngIf= "toggleEdit === true && (article.article_writer == USERID || USERAUTH == 3)">
            <span ion-text><ion-icon name="md-checkmark-circle-outline"></ion-icon></span>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="toggleEdit === false" class="page-reading">
    <table class="reading-top">
      <tr>
        <td>
            {{article.article_title}}
        </td>
      </tr>
      <tr>
        <td>
            {{article.user_name}}&nbsp;&nbsp;|&nbsp;&nbsp;{{article.timestamp | date:'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;|&nbsp;&nbsp;조회수 {{article.article_hit}}
        </td>
      </tr>
    </table>
    <hr/>
    <div id="contentDiv">{{article.article_content}}
    </div>


    <!-- Q&A게시판 덧글 -->
    <section class="commentTableWrapper" *ngIf="article.board_id == 3">
        <ion-list *ngFor="let comment of comments" (press)="presentCommentSheet()">
            <table class="commentListTable">
                <tr>
                    <td>
                        {{ comment.comment_writer }}
                    </td>
                    <td>
                        <span>{{ comment.timestamp | date:'yyyy-MM-dd HH:mm' }}</span>
                    </td>
                </tr>         
                <tr>	
                    <td colspan="2">
                        <div id="commentDiv">
                            {{ comment.comment_content }}
                        </div>
                    </td>		
                </tr>
            </table>
        </ion-list>
    </section>

    <!-- 덧글 -->
    <section class="commentWriteWrapper commentTableWrapper" *ngIf="article.board_id == 3">
        <table class="comment_textarea_table">
            <tr>
                <td>
                    <ion-item no-lines>
                        <ion-textarea class="comment_textarea" [(ngModel)]="createContent" placeholder="댓글을 입력하세요."></ion-textarea>
                    </ion-item>
                </td>
                <td>
                    <button ion-button outline (click)="commentCreate()">
                        <ion-icon name="ios-send"></ion-icon>
                    </button>
                </td>
            </tr>
        </table>

    </section>

    <!--공지사항 게시판일때-->
    <div class="buttonWrapper" *ngIf="article.board_id == 2">
        <button ion-button block 
            class="editButton" 
            (click)="handleToggleEdit()" 
            *ngIf= "USERAUTH == 3">수정</button>
        <button ion-button block 
            class="deleteButton" 
            (click)="showDeleteAlert(article)" 
            *ngIf= "USERAUTH == 3">삭제</button>
    </div>
        
    <!--Q&A 게시판일때-->
    <div class="buttonWrapper" *ngIf="article.board_id == 3">
        <button ion-button block 
            class="editButton" 
            (click)="handleToggleEdit()" 
            *ngIf= "article.article_writer == USERID">수정</button>
        <button ion-button block 
            class="deleteButton" 
            (click)="showDeleteAlert(article)" 
            *ngIf= "article.article_writer == USERID || USERAUTH == 3">삭제</button>
        <button ion-button block 
            class="editButton" 
            (click)="showAnswerAlert(article)" 
            *ngIf= "USERAUTH == 3 && article.answer_complete == 0">답변완료</button>
    </div>
        
    <br/>
    <br/>
</ion-content>

<ion-content *ngIf="toggleEdit === true" style="margin-top: 59px;" class="page-reading">
        <table class="reading-top">
          <tr>
            <td>
                {{article.article_title}}
            </td>
          </tr>
          <tr>
            <td>
                {{article.user_name}}&nbsp;&nbsp;|&nbsp;&nbsp;{{article.timestamp}}&nbsp;&nbsp;|&nbsp;&nbsp;조회수 {{article.article_hit}}
            </td>
          </tr>
        </table>
        <hr/>
            <ion-textarea id="contentDiv" [(ngModel)]="article.article_content"></ion-textarea>    
        <br/>
        <br/>
</ion-content>
