<ion-header class="home-header">
  <ion-navbar>
    <button ion-button menuToggle class="navbar-btn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="home_logo_wrapper" (click)="openHomePage()">
      <img src="assets/img/Logo2.png" class="home-logo"/>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">
  <!--sm사업 신청기간 -->
  <table class="calendarText">
    <tr>
      <td colspan="2">
          SCHEDULE
      </td>
    </tr>
  </table>
  <ion-slides style="height: 130px;">
    <ion-slide *ngIf="setting">
      <ion-item class="center">
        {{ setting.mento_start | date: 'yyyy.MM.dd' }} ~ {{ setting.mento_end | date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 2학기 멘토 신청기간
      </ion-item>
      <ion-item class="center">
        {{ setting.menti_start | date: 'yyyy.MM.dd' }} ~ {{ setting.menti_end | date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 2학기 멘티 신청기간
      </ion-item>
      <ion-item class="center">
        {{ setting.survey_start | date: 'yyyy.MM.dd' }} ~ {{ setting.survey_end | date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 2학기 설문조사 기간
      </ion-item>
    </ion-slide>
    <div *ngIf="reportDateList">
      <div *ngIf="reportDateList.length > 0">
        <ion-slide>
          <ion-item class="center">
            {{ reportDateList[0].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[0].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 1차 보고서 제출기간
          </ion-item>
          <ion-item class="center">
            {{ reportDateList[1].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[1].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 2차 보고서 제출기간
          </ion-item>
          <ion-item class="center">
            {{ reportDateList[2].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[2].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 3차 보고서 제출기간
          </ion-item>
        </ion-slide>
      </div>
      <div *ngIf="reportDateList.length > 3">
        <ion-slide>
          <ion-item class="center">
            {{ reportDateList[3].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[3].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 4차 보고서 제출기간
          </ion-item>
          <ion-item class="center">
            {{ reportDateList[4].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[4].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 5차 보고서 제출기간
          </ion-item>
          <ion-item class="center">
            {{ reportDateList[5].report_start | date: 'yyyy.MM.dd' }} ~ {{ reportDateList[5].report_end| date: 'MM.dd' }} &nbsp;&nbsp;&nbsp; 6차 보고서 제출기간
          </ion-item>
        </ion-slide>
      </div>
    </div>
  </ion-slides>

  <!--공지사항-->
  <table class="noticeTable">
      <tr>
        <td colspan="2">
            NOTICE
        </td>
      </tr>
      <tr>
          <ion-item no-lines class="notice" *ngFor="let a of articles" (click)="openReadingPage(a)">
              <!--<span>-->
                <ion-list>
                 {{a.article_title}}
                </ion-list>
              </ion-item>
              <ion-item no-lines>
                <ion-list no-lines (click)="openNoticePage()">
                    <ion-icon name="ios-add-circle-outline"></ion-icon><span class="more">더 보기</span>
                </ion-list>
              <!--</span>-->
            </ion-item>
      </tr>
  </table>

  <!--멘토방 사진 슬라이드-->
  <table class="mentorTable">
      <tr>
        <td colspan="2">
            MENTOR ROOM
        </td>
      </tr>
  </table>

  <table class="mentor-banner" >
    <tr>
      <ion-slides  *ngIf="mentorooms && mentorooms.length" pager="true" loop="true" autoplay="5000" speed="500" slidesPerView="3">
          <ion-slide *ngFor="let m of mentorooms">
            <div *ngIf= "m.team_confirm != 2">
                <table class="mentor-banner-in">
                  <tr>
                    <td>
                      <img src="data:image/jpeg;base64,{{m.file_data}}" /> 
                    </td>
                  </tr>
                  <tr>
                    <td><b>[{{m.team_name}}]</b></td>
                  </tr>
                  <tr>
                    <td>{{m.team_theme}}</td>
                  </tr>
                </table>
            </div>
          </ion-slide>
      </ion-slides>
    </tr>
  </table>

    <!--설명서 바로가기-->
    <table class="noticeTable">
        <tr>
          <td colspan="2">
              DOCUMENT
          </td>
        </tr>
        <tr>
          <img src="assets/img/banner.png" class="document" (click)="openSmPage()"/>
        </tr>
    </table>
</ion-content>
