<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="home_logo_wrapper" (click)="openHomePage()">
      <img src="assets/img/Logo2.png" class="home-logo"/>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="page-home">
  <!--sm사업 신청기간 -->
  <table class="calendarText">
    <tr>
      <td colspan="2">
          SCHEDULE
      </td>
    </tr>
    <tr>
        <td>
          2017.09.01 ~ 09.10
        </td>
        <td>
          2학기 멘토 신청기간
        </td>
      </tr>
    <tr>
      <td>
        2017.09.11 ~ 09.20
      </td>
      <td>
        2학기 멘티 신청기간
      </td>
    </tr>
    <tr>
        <td>
          2017.09.21 ~ 12.10
        </td>
        <td>
          멘토링 활동기간
        </td>
      </tr>
    <tr>
        <td>
          2017.12.11 ~ 12.20
        </td>
        <td>
          2학기 설문조사 기간
        </td>
    </tr>
  </table>

  <!--공지사항-->
  <table class="noticeTable">
      <tr>
        <td colspan="2">
            NOTICE
        </td>
      </tr>
      <tr>
          <ion-item no-lines class="notice" *ngFor="let a of articles" (click)="openReadingPage(a)">
              <!--<span>-->
                <ion-list>
                 {{a.article_title}}
                </ion-list>
              </ion-item>
              <ion-item>
                <ion-list no-lines (click)="openNoticePage()">
                    <ion-icon name="ios-add-circle-outline"></ion-icon><span class="more">더 보기</span>
                </ion-list>
              <!--</span>-->
            </ion-item>
      </tr>
  </table>

  <!--멘토방 사진 슬라이드-->
  <table class="mentorTable">
      <tr>
        <td colspan="2">
            MENTOR ROOM
        </td>
      </tr>
  </table>


  <table class="mentor-banner" >
      <tr>
          <ion-slides  *ngIf="mentorooms && mentorooms.length" pager="true" loop="true" autoplay="5000" speed="500" slidesPerView="3">
              <ion-slide *ngFor="let m of mentorooms">
                <div *ngIf= "m.team_confirm != 2">
                    <table class="mentor-banner-in">
                      <tr>
                        <td>
                          <img src="assets/img/book/algo.png" /> 
                        </td>
                      </tr>
                      <tr>
                        <td><b>[{{m.team_name}}]</b></td>
                      </tr>
                      <tr>
                        <td>{{m.team_theme}}</td>
                      </tr>
                    </table>
                </div>
              </ion-slide>
          </ion-slides>
      </tr>
  </table>

    <!--설명서 바로가기-->
    <table class="noticeTable">
        <tr>
          <td colspan="2">
              DOCUMENT
          </td>
        </tr>
        <tr>
          <img src="assets/img/banner.png" class="document" (click)="openSmPage()"/>
        </tr>
    </table>
</ion-content>
