// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.side.content.content-ios,
ion-content.side.content.content-md,
ion-content.side.content.content-wp {
    background: #38484f;
}

.sideTable {
    margin: 10%;
    width: 80%;
}

.sideTable img {
    width: 25px;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 0.3px;
}

.sideTable td {
    vertical-align: middle;
    color: whitesmoke;
    font-weight: 800;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    margin: 10px;
    padding-bottom: 30px;
    color: #A4AAAB;
}

.sideAccount {
    background: #273338;

    ion-item.item.item-block.item-ios,
    ion-item.item.item-block.item-md {
        background: none;
    }

    table.sideAccountTable {
        margin-left: 10%;
        width: 80%;
    }

    .sideAccountTable td{
        color: white;
    }

    .account-icon {
        color: #2dfffe;
    }

    .item-ios .item-button,
    .item-md .item-button {
        padding: 3px;
        height: 24px;
        font-size: 15px;
    }

    td.account_user {
        width: 70%;
    }

    img.account-icon {
        margin-left: 10px;
        width: 18px;
        vertical-align: top;
    }
}