.page-mentorAdd {
    background: #F0F0F0;

    .item-md {
        padding-left: 0;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .item-ios {
        padding-left: 0;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner  {
        padding-right: 0;
    }

    textarea.text-input.text-input-md,
    textarea.text-input.text-input-ios {
        height: 450px;
        line-height: 18px;
        overflow: auto;
        font-size: 14px;
        padding: 0;
        margin: 0;
        padding-right: 0;
        margin-right: 0;
        width: 100%;
        padding-top: 13px;
    }

    .text-input-md,
    .text-input-ios {
        margin: 13px 13px 13px 13px;
        padding: 0;
        width: calc(100% - 26px);
        font-size: 14px;
    }

    ion-textarea.input.input-md,
    ion-textarea.input.input-ios {
        padding-left: 13px;
    }

    ion-label.label.label-md,
    ion-label.label.label-ios {
        padding-left: 13px;
        font-size: 14px;
    }

    .addLabel {
        background: white;
    }

    .addLabel p {
        padding-top: 0px;
        margin-top: 0px;
        padding: 10px 13px 0px;
        color: dimgray;
        font-size: 14px;
        margin-bottom: 0px;
    }

    .youtube-icon {
        display: inline-block;
        vertical-align: middle;
        color: indianred;
    }

    .photos-icon {
        display: inline-block;
        vertical-align: middle;
        color: #438BDD;
    }

    .link-icon {
        display: inline-block;
        vertical-align: middle;
        color: #008A1E;
    }

    .youtube-input input.text-input.text-input-ios,
    .youtube-input input.text-input.text-input-md {
        margin-left: 4px;
    }

    input#upload {
        color: darkgray;
    }

    .button-ios, .button-md {
        border-radius: 4px;
        height: 2.8em;
        font-size: 1.6rem;
        color: #fff;
        background : linear-gradient(to right, #91A0AB, #38484f );
        margin-left: 13px;
        margin-right: 13px;
        width: calc(100% - 26px);
    }

    input#upload {
        padding-left: 8px;
    }
    
    .fileTitle p {
        display: inline;
        padding-left: 5px;
        padding-right: 15px;
        vertical-align: middle;
        color: black;
    }

    // 파일 업로드 버튼 스타일
    .test div div ion-label {
        display: flex;
    }

    .link-icon, .photos-icon {
        align-self: center;
        margin-right: 10px;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: red;
    }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

    .inputfile + label * {
        pointer-events: none;
    }

    .uploadWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .inputLabel {
        flex: 5;
        line-height: 30px;
        text-align: center;
        height: 30px;
        border-radius: 4px;
    }
}


ion-buttons.bar-buttons.bar-buttons-ios {
    margin-right: 5px;
    margin-left: 5px;
}