<ion-header>
    <ion-toolbar>
        <ion-title>
            {{selectedRoom.team_name}}
        </ion-title> 
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
                <span ion-text><ion-icon name="close"></ion-icon></span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="page-roomDetail">
    <table class="roomDetailTable">
        <tr>
            <td rowspan="7"><img src="assets/img/book/python.png" /></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <b>멘토 : </b>
                {{selectedRoom.mento_name}}
            </td>
        </tr>
        <tr>
            <td>
                <b>팀명 : </b>
                {{selectedRoom.team_name}}
            </td>
        </tr>
        <tr>
            <td>
                <b>주제 : </b>
                {{selectedRoom.team_theme}}
            </td>
        </tr>
        <tr>
            <td>
                <b>현재팀원 : </b>
                {{selectedRoom.person_count}}명
            </td>
        </tr>
        <tr>
            <td>
                <b>자격증명 파일 : </b>
                <button ion-button class="fileButton">다운로드</button>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

    <ion-list-header>
            팀 소개 및 설명                
    </ion-list-header>
    
    <div *ngIf="selectedRoom.team_link != null" class="teamLink">
        <ion-icon name="logo-youtube" class="youtube-icon"></ion-icon>
        <a href="{{selectedRoom.team_link}}">
            <span class="youtube-span">팀 소개 영상보기</span>
        </a>
    </div>

    <div padding class="teamInfo"> 
        {{selectedRoom.team_about}}
    </div>

    <ion-list-header>
            팀원 목록              
    </ion-list-header>

    <ion-item class="menti_list">
        <li>
            {{mento_id}} {{mento_name}} <b>(멘토)</b>
        </li>
    </ion-item>

    <ion-item *ngFor="let m of mentis" class="menti_list">
        <li>
            {{m.menti_id}} {{m.user_name}}
        </li>
    </ion-item>

    <!--멘토/관리자 인터페이스-->
    <div class="noAlarm" *ngIf= "USERAUTH == 1 || USERAUTH == 3"> <!--멘토 및 관리자만 볼 수 있음-->
    <ion-list-header>
            모임 결과보고서           
    </ion-list-header>

    <!-- 결과보고서 파일 업로드 -->
    <div class="uploadWrapper" *ngIf= "USERAUTH == 1 && mento_id==USERID">
        <input type="file" class="inputfile" id="upload" name="uploadFile" (change)="onChange($event)" file-upload multiple />
        <label for="upload" class="inputLabel"><strong>{{ fileLabel ? fileLabel : 'Choose a file' }}</strong></label>
        <button ion-button class="button" (click)="save()"> 업로드 </button>
    </div> -->

    <table class="reportTable" *ngFor="let file of files">
        <tr>
            <td>{{ file.filename }}</td>
            <td rowspan="2">
                <ion-icon name="md-download"></ion-icon>
            </td>
            <td rowspan="2" class="report-ing">확인중</td>
        </tr>
        <tr>
            <td><span class="reportTime">{{ file.timestamp | date:'yyyy-MM-dd HH:mm' }}</span></td>
        </tr>
    </table>
    <!-- <table class="reportTable">
        <tr>
            <td>{{selectedRoom.team_name}} 결과보고서</td>
            <td rowspan="2"><ion-icon name="md-download"></ion-icon></td>
            <td rowspan="2" class="report-reject">반려</td>
        </tr>
        <tr>
            <td><span class="reportTime">2017-09-20</span></td>
        </tr>
    </table>
    <table class="reportTable">
        <tr>
            <td>{{selectedRoom.team_name}} 결과보고서</td>
            <td rowspan="2"><ion-icon name="md-download"></ion-icon></td>
            <td rowspan="2" class="report-end">확인<br/>완료</td>
        </tr>
        <tr>
            <td><span class="reportTime">2017-09-20</span></td>
        </tr>
    </table>
    <table class="reportTable">
        <tr>
            <td>{{selectedRoom.team_name}} 결과보고서</td>
            <td rowspan="2"><ion-icon name="md-download"></ion-icon></td>
            <td rowspan="2" class="report-end">확인<br/>완료</td>
        </tr>
        <tr>
            <td><span class="reportTime">2017-09-20</span></td>
        </tr>
    </table> -->
    </div>
   
    <!-- 멘티 신청 인터페이스 -->
    <ion-item no-lines *ngIf="USERAUTH === 0" class="menteeButton"> 
        <button ion-button block class="teamOk" (click)="joinMentee()">멘티 신청</button>
    </ion-item>

    <!-- 멘티 신청 취소 인터페이스 -->
    <div *ngFor="let m of mentis">
        <ion-item no-lines *ngIf="USERAUTH === 2 && m.menti_id==USERID" class="menteeButton"> 
            <button ion-button class="teamNo" (click)="cancelMentee()">멘티 신청취소</button>
        </ion-item>
    </div>

    <!-- 관리자 인터페이스 -->
    <ion-item no-lines  *ngIf="USERAUTH === 3 && selectedRoom.team_confirm === 0" >
        <button ion-button class="teamOk" (click)="confirm()">개설승낙</button>
        <button ion-button class="teamNo" (click)="reject()">개설거절</button>
    </ion-item>



    <!--멘티 인터페이스-->
    <!--
    <button ion-button block class="menteeButton" (click)="showMenteeAlert()">멘티신청</button>
    -->

    <!--멘티 인터페이스-->
    <!--
    <button ion-button block class="menteeButton" (click)="showMenteeAlert()">멘티신청취소</button>
    -->
    
    <!--멘토/멘티 인터페이스-->
    <!--
    <ion-list-header>
            설문조사                
    </ion-list-header>
    <div class="poll">
        <b>Q1.</b> 멘토링 활동에 만족하셨나요?
    </div>
    <ion-item>
      <ion-range min="1" max="5" pin="true" step="1" snaps="true">
        <ion-icon range-left name="md-sad"></ion-icon>
        <ion-icon range-right name="md-happy"></ion-icon>
      </ion-range>
    </ion-item>

    <div class="poll">
        <b>Q2.</b> 성실히 참여했나요?
    </div>
    <ion-item>
      <ion-range min="1" max="5" pin="true" step="1" snaps="true">
        <ion-icon range-left name="md-sad"></ion-icon>
        <ion-icon range-right name="md-happy"></ion-icon>
      </ion-range>
    </ion-item>

    <div class="poll">
        <b>Q3.</b> 다음에 또 멘토링 활동에 참여하고 싶은가요?
    </div>
    <ion-item>
      <ion-range min="1" max="5" pin="true" step="1" snaps="true">
        <ion-icon range-left name="md-sad"></ion-icon>
        <ion-icon range-right name="md-happy"></ion-icon>
      </ion-range>
    </ion-item>

    <ion-item no-lines>
            <button ion-button class="teamOk" (click)="openRoomPage()">설문 완료</button>
    </ion-item>
-->
    <br/>
    <br/>
    <br/>
</ion-content>
